@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-align: center;
}

p {
  margin: 0 0 5px;
  text-align: center;
}

.container {
  max-width: 1230px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  min-width: 200px;
  height: 50px;
  padding: 0 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: rgb(12, 10, 10);
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  background-color: #b605a7;
  transition: background-color 0.2s ease;
  cursor: pointer;
  outline: 0;
  border: 0;
}

.btn:hover {
  background-color: #df61d1;
}

/* Header start */
.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.header__wrapper {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__block {
  width: 20%;
}

.header__logo {
  display: inline-block;
}

.header__logo img {
  height: 65px;
}

.nav {
  display: flex;
}

.nav__link {
  margin-right: 35px;

  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  position: relative;
}

.nav__link:after {
  width: 100%;
  height: 2px;
  background-color: rgb(221, 159, 13);
  position: absolute;
  top: 100%;
  left: 0;
  content: "";
  opacity: 0;
  transition: opacity 0.2s ease;
}

.nav__link:last-child {
  margin-right: 0;
}

.nav__link:hover:after {
  opacity: 1;
}

.nav__link.active:after {
  opacity: 1;
}

.header__lng {
  display: flex;
  justify-content: flex-end;
}

.header__lng-link {
  margin-right: 8px;

  font-weight: 600;
  color: #b7b7b7;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.2s ease;
}

.header__lng-link:last-child {
  margin-right: 0;
}

.header__lng-link:hover {
  color: #fff;
}

.header__lng-link.active {
  color: #fff;
}

/* Header end */

/*Intro start*/
.intro {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
}

.intro:after {
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;

  background-color: rgb(0, 0, 0);
  opacity: 0.2;
  content: "";
}

.intro__content {
  height: 750px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
}

.intro__title {
  max-width: 790px;
  margin-bottom: 100px;
  font-size: 38px;
  font-weight: 700;
  color: rgb(174, 172, 172);
  line-height: 0.5;
  text-transform: uppercase;
  text-align: left;
}

/*Intro end*/

.section {
  margin-bottom: 100px;
}

.section.process {
  padding-top: 50px;
}

/*Info start*/

.info {
  transform: translateY(-50%);
  color: #000;
}

.info__wrapper {
  display: flex;
  margin: 0 -10px;
}

.info__block {
  width: 33.33%;
  padding: 0 10px;
}

.info__item1 {
  padding: 40px 40px 30px;
  height: 100%;
  min-height: 150px;
  background: #171cb3;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.info__item2 {
  padding: 40px 40px 30px;
  height: 100%;
  min-height: 150px;
  background: #d47903;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.info__item3 {
  padding: 40px 40px 30px;
  height: 100%;
  min-height: 150px;
  background: #66009a;
  box-shadow: 0 0 15px rgba(143, 92, 92, 0.25);
}

.info__item4 {
  padding: 40px 40px 30px;
  height: 100%;
  min-height: 150px;
  background: rgb(106, 99, 107);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.info__img {
  margin-bottom: 20px;
}

.info__img img {
  height: 30px;
}

.info__title {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  letter-spacing: 0.15em;
  color: rgb(234, 221, 41);
}
.info__text {
  text-align: center;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0.1em;
  display: inline;
  list-style: decimal;
  letter-spacing: 0.11em;
  text-transform: uppercase;
}

/*Info end*/

/*block start*/
.block__title {
  color: rgb(0, 0, 0);
  margin-bottom: 15px;
  font-size: 30px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  text-align: center;
}

.block__title.text-white {
  color: #fff;
}

.block__link {
  margin-bottom: 60px;
  display: inline-block;
  letter-spacing: 0.15em;
  color: #000;
  text-transform: uppercase;
}

.block__link:hover {
  text-decoration: none;
}

.wrapper {
  display: flex;
  margin: 0 -10px;
}

.block {
  width: 33.33%;
  padding: 0 10px;
}

.text-upper {
  text-transform: uppercase;
}

/*block end*/

/*services start*/

.services__item {
  text-decoration: none;
}

.services__item:hover .services__content-item {
  opacity: 1;
}

.services__item:hover .services__content:after {
  opacity: 0.2;
}

.services__content {
  height: 500px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 20px 20px 20px;
  display: grid;
}

.services__content:after {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  transition: opacity 0.9s ease;
  border-radius: 20px 20px 20px;
  display: grid;
}

.services__content-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
  transition: opacity 0.9s ease;
  border-radius: 20px 20px 20px;
  display: grid;
}

.services__img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #db2512;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.services__title {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.5em;
  color: #000;
  text-transform: uppercase;
  text-align: center;
}

.services__text {
  max-width: 270px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 0.5em;
  position: absolute;
  left: 150px;
  bottom: 20px;
  text-transform: uppercase;
}

/*services end*/

/*about start*/

.about {
  padding: 115px 0;
  background-color: #171616;
}

.about__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about__block {
  max-width: 505px;
}

.about__text {
  margin: 35px 0 40px;
  font-weight: 600;
  color: #b7b7b7;
  letter-spacing: 0.23em;
}

.about__link {
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.about__link:hover {
  text-decoration: none;
}

.about__img {
  height: 640px;
  width: 640px;
}

/*about end*/

/*process start*/

.process__title {
  margin-bottom: 20px;
  font-size: 38px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
}

.process__subtitle {
  margin-bottom: 90px;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  text-align: center;
}

.process__item {
  padding: 30px 30px 15px;
  height: 100%;
  min-height: 150px;
  background: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

/*process end*/

/*contacts start*/
.contacts {
  padding: 100px 0;
  background-color: #171616;
}

.contacts .block__title {
  margin-bottom: 40px;
}

.contacts__form {
  max-width: 440px;
}

.form__row {
  margin: 0 -20px;
  display: flex;
}

.form__group {
  margin-bottom: 30px;
  padding: 0 20px;
  flex: 1;
  position: relative;
}

.input {
  width: 100%;
  padding: 9px 0;
  outline: 0;
  border: 0;
  color: #fff;
  font-family: inherit;
  font-size: 15px;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.input:focus + .label {
  transform: translateY(-15px);
  font-size: 12px;
}

.input:not(:placeholder-shown) + .label {
  transform: translateY(-15px);
  font-size: 12px;
}

.label {
  letter-spacing: 0.15em;
  color: #fff;
  position: absolute;
  top: 10px;
  left: 20px;
  pointer-events: none;
  transition: all 0.2s ease;
}

.textarea {
  min-height: 130px;
  width: 100%;
  padding: 9px 0;
  resize: vertical;
  outline: 0;
  border: 0;
  color: #fff;
  font-family: inherit;
  font-size: 15px;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.textarea:focus + .label {
  transform: translateY(-15px);
  font-size: 12px;
}

.textarea:not(:placeholder-shown) + .label {
  transform: translateY(-15px);
  font-size: 12px;
}

/*contacts end*/

/*footer start*/

.footer__wrapper {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright {
  letter-spacing: 0.15em;
}

.footer__soc {
  display: flex;
}

.footer__soc-link {
  margin-right: 20px;
  text-decoration: none;
}

.footer__soc-link:last-child {
  margin-right: 0;
}

.footer__soc-link img {
  height: 25px;
}
/*footer end*/

.card {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 210px 80px;
  grid-template-areas: "image" "text" "stats";

  border-radius: 18px;
  background: rgb(65, 60, 60);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  font-family: roboto;
  text-align: center;
  transition: 0.5s ease;
  cursor: pointer;
}
.card-img-top {
  grid-area: image;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-size: cover;
}
.card-text {
  grid-area: text;
  margin: 25px;
}
.card-text .date {
  color: rgb(255, 7, 110);
  font-size: 13px;
}
.card-text p {
  color: grey;
  font-size: 15px;
  font-weight: 300;
}
.card-text h2 {
  margin-top: 0px;
  font-size: 28px;
}

/* .card-stats2 {
  display: grid;

  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: rgb(31, 253, 35);
} */

.card:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}
.card-stats2 .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  color: white;
  padding: 10px;
}

.card-stats3 .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  color: white;
  padding: 10px;
}

.card:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}
.card {
  transition: 0.5s ease;
  cursor: pointer;
  margin: 30px;
}

.info__img {
  margin-bottom: 20px;
}
/*  */
/*  */

/* скрываем чекбокс */
#menu__toggle {
  opacity: 0;
}
/* стилизуем кнопку */
.menu__btn {
  display: flex; /* используем flex для центрирования содержимого */
  align-items: center; /* центрируем содержимое кнопки */
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
} /* контейнер меню */
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 500px;
  height: 10%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #000000;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}
/* элементы меню */
.menu__item {
  display: block;
  padding: 12px 24px;
  color: rgb(0, 0, 0);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #ffffff;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: 0.25s;
}
.menu__box {
  transition-duration: 0.25s;
}
.menu__item {
  transition-duration: 0.25s;
}
